<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="../../static/spaces.css" type="text/css">
    </head>
<body>

    
    {% include 'navbar/navbar.html' %}

    
        <div class="container mt-4">
            <h1 class="text-center mb-4">MakersBnB</h1>
            <div class="text-center mb-3">
            <a href="/list_a_space" class="btn btn-custom">List a Space</a>
            </div>
    
            <div class="row">
            {% for space in spaces %}
                <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path_to_image" class="card-img-top" alt="Space Image"> <!-- Optional: if you have images -->
                    <div class="card-body">
                    <h5 class="card-title">{{ space.space_name }}</h5>
                    <p class="card-text">{{ space.space_description }}</p>
                    <a href="/requests" class="btn btn-outline-success">Book</a>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>

        {% include 'footer/footer.html' %}



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    </body>
</html>