<!doctype html>
<html lang="en">

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/style.css" type="text/css" />
  <link rel="stylesheet" href="/static/login.css" type="text/css" />
</head>

<body>
  {% include 'navbar/navbar.html' %}


  <div class="center">
    <h1>Login</h1>
    <form action="/login" method="post">
      {% if errors %}
      <p class="t-errors">
        There were errors with your submission: {{ errors }}
      </p>
      {% endif %}
      <div class="login-form-container">
        <label for="user_name">User Name</label>
        <input type="text" name="user_name" id="user_name" />

        <label for="user_password">Password</label>
        <input type="password" name="user_password" id="user_password" />
        <br /><br />

        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
  {% include 'footer/footer.html' %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>