html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #f4f4f4;
  color: #333333;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}
header {
  background-color: #2a3d66; /* Updated blue color */
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 20px; /* Spacing between cards */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 15px;
}

.card-title {
  color: #333;
  margin-bottom: 15px;
}

.card-text {
  color: #666;
}

.card-price {
  font-weight: bold;
}


a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #2a3d66;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.navigation {
  text-align: right;
  margin-top: -40px;
}
.navigation a {
  color: #d4af37;
  margin-left: 15px;
  font-weight: bold;
}
.navigation a:hover {
  color: #b3962f;
}
.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; /* Center content vertically within .content-wrapper */
  align-items: center; /* Center content horizontally within .content-wrapper */
}
.signup-form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 20px;
  text-align: left;
}
.signup-form-container h2 {
  color: #2a3d66;
  text-align: center;
}
.signup-form-container label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}
.signup-form-container input[type="text"],
.signup-form-container input[type="password"],
.signup-form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.signup-form-container input[type="submit"] {
  background-color: #2a3d66;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.signup-form-container input[type="submit"]:hover {
  background-color: #1d2a4a;
}
.testimonials {
  background-color: #ffffff; /* Light background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px; /* Adjust as necessary */
  margin: 20px auto;
  font-family: "Arial", sans-serif; /* Elegant font */
}
.signup-form-container input[type="submit"]:hover {
  background-color: #1d2a4a; /* Keeps your existing background color change on hover */
  color: #d4af37; /* Sets the text color to yellow on hover */
}
.navbar-custom .nav-link:hover,
.button:hover,
input[type="submit"]:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.testimonial-item {
  background-color: #f9f9f9; /* Slightly different shade */
  border: 1px solid #eaeaea;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}
.testimonial-item p {
  font-size: 16px; /* Readable font size */
  color: #555; /* Softer color for text */
}
.testimonial-item strong {
  font-size: 14px;
  color: #333;
  display: block; /* Or use inline-block */
  margin-top: 10px;
}
.social-media {
  margin: 5px 0;
}
.social-media a {
  color: #fff;
  margin-right: 20px;
  transition: color 0.3s;
  font-size: 19px;
}
.social-icon {
  transition: all 0.3s ease;
  color: #fff;
  margin: 0 1px;
  font-size: 20px; /* Larger icons */
}
.social-icon:hover {
  transform: scale(1.05);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2a3d66;
  color: #fff;
  padding: 0px 0;
  text-align: center;
  z-index: 100;
  transform: scale(1);
  transition: all 0.3s ease;
  font-size: 14px; /* Smaller font size */
  line-height: 1.4;
}
.social-media a {
  color: #fff; /* Set the default color to white */
  margin-right: 20px;
  transition: color 0.3s; /* Smooth transition for color change */
}
.navigation a:hover,
.social-media a:hover {
  color: #d4af37;
}
