body {
  font-size: 18px;
}

.navbar-custom {
  background-color: #2a3d66;
  color: #fff;
  margin: 0;
  width: 100%;
}
.navbar-custom .navbar-brand svg {
  height: 40px;
  width: auto;
}
.navbar-custom .navbar-nav .nav-link,
.navbar-custom .btn {
  color: #fff;
}
.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px; /* Font size for the links */
}

.navbar-custom .navbar-nav .nav-link:hover, /* Hover effect for nav links */
.navbar-custom .btn:hover {
  /* Hover effect for buttons */
  color: #d4af37; /* Change text color on hover */
}
.navbar-custom .btn {
  background-color: #d4af37;
}