<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About MakersBnB</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/about.css" />
  </head>
  <body>
    {% include 'navbar/navbar.html' %}

    <div class="container center body-content">
      <div class="content-container">
        <h1>About MakersBnB</h1>
        <p>
          Welcome to MakersBnB, the destination for travellers seeking unique
          stays and memorable experiences.
        </p>
        <p>
          At MakersBnB, we believe every journey is as individual as you. That’s
          why along with our high grade website, we curated a diverse collection
          of properties, each with its own character and charm.
        </p>
        <h2>How It Works:</h2>
        <ol>
          <li>
            <strong>Sign Up & Log In:</strong> Creating an account. Our
            straightforward sign-up process ensures you’re on your way to
            discovering your next stay.
          </li>
          <li>
            <strong>Discover Unique Properties:</strong> Browse through our
            extensive list of spaces, where you’ll find detailed descriptions,
            authentic photographs, and transparent pricing.
          </li>
          <li>
            <strong>Making Requests:</strong> Once you’ve found your perfect
            space, head over to the requests page. Here, you can manage your
            stays.
          </li>
          <li>
            <strong>Listing Spaces:</strong> List your space with us and join
            our community of hosts.
          </li>
          <li>
            <strong>Manage Your Requests:</strong> As a host, go to the requests
            page to see who’s interested in staying at your space. Approve
            requests here.
          </li>
        </ol>
      </div>
    </div>

    <div class="testimonials">
      <div class="container testimonials-grid">
        <div class="testimonial-item">
          <p>
            "If I had a nickel for every time I thought about going back, I’d
            have enough to book another week at this charming place. Counting my
            nickels now..."
          </p>
          <strong>- Taylor R.</strong>
        </div>
        <div class="testimonial-item">
          <p>
            "The beds were so comfortable, I considered swapping my cloud-based
            software for an actual cloud from the mattress. Dreamy doesn't even
            start to cover it!"
          </p>
          <strong>- Alex G.</strong>
        </div>
      </div>
    </div>

    {% include 'footer/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
